# Gradle
.gradle/
.gradle-sandbox/
build/
**/build/

# Kotlin
.kotlin/

# Android Studio
.idea/
*.iml

# Local configuration
local.properties

# Android build
captures/
.externalNativeBuild/
.cxx/

# OS
.DS_Store
Thumbs.db